extends layout

block content
  .content
    .banner-area
      h1 Bem-vindo à WW Loja de Equipamentos de TI!
      p Aqui você pode encontrar e cadastrar produtos de informática.

    .search-and-cart
      .search-bar
        input(type="text", id="buscar", placeholder="Buscar produtos")
        button(type="button", onclick="buscarProduto()") Buscar

      .cart-icon
        h2 Seu Carrinho
        ul#carrinho-itens
          if carrinho.length > 0
            each item in carrinho
              li #{item.nome} - R$ #{item.preco.toFixed(2)}
          else
            p Carrinho vazio
        p.total-preco Total: R$ <span id="total-preco">
          = (carrinho.reduce((total, item) => total + item.preco, 0)).toFixed(2)

    .promo-and-products
      .promo-section
        h2 Ofertas do dia
        .promo-container
          img(src="/path/banner1.png", alt="Oferta 1")
          img(src="/path/banner2.png", alt="Oferta 2")
          img(src="/path/banner3.png", alt="Oferta 3")

      section.produtos-cadastrados
        h2 Produtos Cadastrados
        .produtos-grid
          each produto in produtos
            .produto-card
              if produto.imagemURL
                img(src=produto.imagemURL, alt=produto.nome)
              h3= produto.nome
              p.descricao= produto.descricao
              span.preco= 'R$ ' + produto.preco.toFixed(2)
              button.pure-button.pure-button-primary(type="button", onclick=`adicionarAoCarrinho('${produto.id}', '${produto.nome}', ${produto.preco})`) Adicionar ao Carrinho

