extends layout

block content
  .content
    h2 Produtos Disponíveis
    if produtos && produtos.length
      form(action="/editar-produto-inline" method="POST" enctype="multipart/form-data")
        .produtos-grid
          each produto in produtos
            .produto-card
              if produto.imagemURL
                img(src=produto.imagemURL alt=`Imagem de ${produto.nome}` width="200" height="200")
              
              // Melhorando layout com flexbox
              .produto-detalhes
                .detalhes-campos
                  label Nome:
                  input(type="text" name=`nomeProduto_${produto.id}` value=produto.nome)
                .detalhes-campos
                  label Descrição:
                  textarea(name=`descricao_${produto.id}`)= produto.descricao
                .detalhes-campos
                  label Preço:
                  input(type="number" step="0.01" name=`preco_${produto.id}` value=produto.preco)
                .detalhes-campos
                  label Nova imagem:
                  input(type="file" name=`imagemProduto_${produto.id}` accept="image/*")
              
              // Botões ajustados com espaçamento
              .buttons
                button.pure-button.pure-button-primary(type="submit" name="edit" value=produto.id) Salvar
                form(action=`/excluir-produto/${produto.id}`, method="POST", onsubmit="return confirm('Tem certeza que deseja excluir este produto?');")
                  button.pure-button.pure-button-danger(type="submit") Excluir
    else
      p Nenhum produto disponível no momento.

    // Navegação de páginas
    .pagination
      if currentPage > 1
        a(href=`/produtos?page=${currentPage - 1}`) Anterior

      each page in Array(totalPages).fill().map((_, i) => i + 1)
        a(href=`/produtos?page=${page}`, class=(page === currentPage ? 'active' : ''))= page

      if currentPage < totalPages
        a(href=`/produtos?page=${currentPage + 1}`) Próxima
